<table class="table table-striped studenListTable">
    <thead>
        <tr>
          <th scope="col"> Name </th>
          <th scope="col"> LastName  </th>
          <th scope="col"> Gender </th>
          <th scope="col"> Qualification </th>
          <th scope="col"> Actions </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let student of studentList">
          <td> {{ student.name }} </td>
          <td> {{ student.lastName }} </td>
          <td> {{ student.gender }} </td>
          <td [ngClass] = " student.promedio > 8? 'content-green' : 'content-red' " > {{ student.promedio }} </td>
          <td class="button"> 
            <button 
                type="button" 
                class="btn btn-info" 
                (click) = "infoStudent(student)" 
                data-bs-toggle="modal" 
                data-bs-target="#exampleModal"> Information 
            </button> </td>
        </tr>
      </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"> Alumno {{ name }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="{{ img }}"  class="img-fluid" alt="">
          <h3 class="text-center"> {{gen}} con un promedio de {{prom}} se considera {{studentState}}</h3>
          <h5 class="text-center"> Fecha : {{fecha | date : "short"}}</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  


  