.studenListTable{
    width: 60%;
    margin: 5rem auto;
}

.content-red{
    background-color:  #ec7063;
    color: #fff;
}

.content-green{
    background-color: #76d7c4;
    color: #fff;
}

.button{
    text-align: center;
}
